@font-face {
  font-family: 'nook';
  src: url("/fonts/nook.woff") format("woff"); }
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

.logo-container {
  position: relative;
  margin: auto; }

.logo-container > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.text-container {
  position: relative;
  text-align: right;
  z-index: 6;
  font-size: 2.3vw;
  font-family: 'nook';
  color: #d1d3d4; }

.logo-text {
  font-size: 10em; }

.box-container {
  position: absolute;
  left: 4%;
  top: 0;
  width: 38%;
  height: 80%; }

.box-1 {
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 2vw;
  background-color: #5bcbf5;
  top: 28%;
  left: 28%;
  overflow: hidden;
  z-index: 3; }

.box-2 {
  position: relative;
  height: 85%;
  width: 85%;
  border-radius: 2vw;
  background-color: #b7e5fa;
  top: 16%;
  left: 16%;
  overflow: hidden;
  z-index: 2; }

.box-3 {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 2vw;
  background-color: #5bcbf5;
  overflow: hidden;
  z-index: 1; }

.tag-line h1 {
  color: white;
  font-size: 1.4em;
  font-family: 'nook';
  font-weight: 100;
  letter-spacing: 4px;
  text-align: right;
  margin-top: -11%; }

/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
@media only screen and (min-width: 320px) {
  .logo-container {
    width: 60.5%;
    padding-bottom: 31.5%; }

  .ook {
    letter-spacing: -5px; } }
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
@media only screen and (min-width: 768px) {
  .logo-container {
    width: 78%;
    padding-bottom: 39%; }

  .ook {
    letter-spacing: -6px; } }
/* /////////// Large  Devices, Phones///1200px+ /////////////////////////////// */
/* /////////// Large  Devices, Phones///1200px+ /////////////////////////////// */
/* /////////// Large  Devices, Phones///1200px+ /////////////////////////////// */
@media only screen and (min-width: 1200px) {
  .logo-container {
    width: 100%;
    padding-bottom: 54%; }

  .ook {
    letter-spacing: -18px; } }
